body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color:#1CB182;
  border-color:#0E3D14;
}

.navbar-default .navbar-brand{
    color:#FFF;

.navbar-default .navbar-brand:hover{
    color:#777;

}
.img-responsive {

    max-width: 60;

}
