{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}Welcome |{{ block.super }}{% endblock %}


{% block jumbotran %}
{% if not request.user.is_authenticated %}
<div class="jumbotran">
<div class="container">
     <div class="row">
     <div class="col-sm-6 text-justify">
        <h1>പപ്പായ: മികച്ച പഴവും ഔഷധവും</h1>
        <p>എല്ലാ സമയത്തും പഴം തരുന്ന പപ്പായ വീട്ടു വളപ്പിൽ കൃഷി ചെയ്യാനും വ്യാവസായികാടിസ്ഥാനത്തിൽ കൃഷി ചെയ്യാനും ഏറ്റവും
            യോജിച്ച വിളയാണ്. കൊഴുപ്പും ഊർജവും കുറവായതിനാൽ പ്രമേഹം, ഹൃദ്‌രോഗം, രക്ത സമ്മർദ്ദം, കുടൽപ്പുണ്ണ്‍ തുടങ്ങിയ അസുഖമുള്ളവർക്കും
            കഴിയ്ക്കാം. ഉഷ്ണമേഖലാ പ്രദേശത്താണ് പപ്പായ വളരുന്നത്. കപ്പളങ്ങ, കർമൂസ, ഓമയ്ക്കാ, കപ്പയ്ക്ക എന്നീ പലപേരുകളിലും
            അറിയപ്പെടുന്ന പപ്പായ പോഷക മൂല്യങ്ങളുടെയും സ്വാദിന്റെയും കാര്യത്തിൽ ഒട്ടും പിന്നിലല്ല. ഇതിലടങ്ങിയിട്ടുള്ള ജീവകം റിബോഫ്‌ളാവിൻ,
            അസ്‌കോർബിക്ക് ആസിഡ് എന്നിവയുടെ കാര്യത്തിൽ മാമ്പഴത്തിനെയും വാഴപ്പഴത്തിനെയും പിന്തള്ളും. ജീവകങ്ങൾ , ധാതുലവണങ്ങൾ
            എന്നിവയാൽ സമ്പന്നമാണ് പപ്പായ. ചർമത്തിന്റെ ആരോഗ്യത്തിനും സൗന്ദര്യത്തിനും ആവശ്യമായ വൈറ്റമിൻ- എ പപ്പായയിൽ
            സമൃദ്ധമായുണ്ട്. പപ്പായ നല്ലൊരു സൗന്ദര്യ വർധക വസ്തു കൂടിയാണ്. പഴുത്ത പപ്പായയുടെ മാംസളഭാഗം തൊലികളഞ്ഞ് ദിവസേന
            മുഖത്ത് തേച്ച് അധികം ഉണങ്ങുന്നതിന് മുമ്പ് കഴുകിക്കളഞ്ഞാൽ ചർമ്മത്തിന് ശോഭയേറും. മലബന്ധം ശമിപ്പിക്കാനും ഉത്തമൗഷധമാണ് പപ്പായ.
            പപ്പായയിലുള്ള പപ്പെയ്ൻ എന്ന രാസ വസ്തു പ്രോട്ടീന്‍ അധികമായ ഭക്ഷണത്തിന്റെ ദഹനം എളുപ്പമാക്കും. പപ്പായ കറയിലുള്ള ഈ
            രാസാഗ്നിക്ക് ധാരാളം വ്യാവസായിക ഉപയോഗമുണ്ട്. സൗന്ദര്യ വർദ്ധക വസ്തുക്കൾ , ദന്തൽ പേസ്റ്റ് എന്നിവയുടെ നിർമ്മാണത്തിന്
            ഇതുപയോഗിക്കുന്നു. ചിക്കുൻഗുനിയ വൈറസ് മൂലമുണ്ടാകുന്ന രോഗമാണ് ചിക്കുൻഗുനിയ. ഈരോഗം ബാധിച്ചവരുടെ രക്തത്തിൽ
            പ്ളേറ്റ്‌ലറ്റുകളുടെ എണ്ണം ഗണ്യമായി കുറയും. പ്ളേറ്റ്‌ലറ്റുകളുടെ എണ്ണം കൂട്ടാൻ പപ്പായ ഇലയുടെ നീരാണ് ഡോക്ടർമാർ
            പോലും നിർദ്ദേശിക്കുന്നത്. അടുത്തകാലത്താണ് പപ്പായയുടെ ഈ അമൂല്യമായ ഔഷധഗുണത്തെക്കുറിച്ച് ലോകം അറിയുന്നത്.
            </p>
         </div>
         <div class="col-sm-6">
             <br/>
             <br/>
             <br/>
         <iframe width="550" height="350" src="https://www.youtube.com/embed/AGZeMjuE7J8" frameborder="0" allowfullscreen></iframe>
         </div>
        </div>
</div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<h2> You are Logged in!</h2>
{% if queryset %}
<table class="table">
{% for instance in queryset %}
    <tr>
    <td>{{ forloop.counter }}</td><td>{{ instance }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% else %}

<div class="row">
<div class="col-sm-3 pull-right">
<h1>{{ template_title }}</h1>

    <form method="POST" action="">{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Sign Up"/>
    </form>
</div>
<div class="col-sm-3">
    <p class="lead text-center">Pappaya</p>
     <img src="{% static 'img/pappaya.jpeg' %}" class="img-responsive"/>
 </div>
<div class="col-sm-3">
    <p class="lead text-center">Sugar Cane<br/>
    <br/>
    <img src="{% static 'img/sugar-cane.jpg' %}" class="img-responsive"/>
    </p>
 </div>
 <div class="col-sm-3">
    <p class="lead text-center">Lakshmi-tharu<br/><br/>
  <img src="{% static 'img/lakshmi-tharu.png' %}" class="img-responsive"/>
    </p>
 </div>
    </div>

{% endif %}

{% endblock %}