{% extends "base.html" %}
{% block content %}
<div class="row">
<div class="col-sm-10 text-justify">
  <h1>കരിമ്പ് പുല്ലല്ല, പുലിയാണ്</h1>
  <p>പുല്ലാണെന്ന് പറഞ്ഞ് മാറ്റി നിറുത്താൻ വരട്ടേ... ഈ പുൽക്കൊടി ആള് പുലിയാണ്.
      പുൽവർഗ്ഗത്തിലെഅതികായനായ കരിമ്പിനെക്കുറിച്ച് തന്നെയാണ് പറഞ്ഞുവരുന്നത്.
      പ്രകാശസംശ്ലേഷണ പ്രക്രിയയിലൂടെ പഞ്ചസാര വളരെ വലിയ അളവിൽ നിർമ്മിക്കുകയും
      നാരുനിറഞ്ഞ തണ്ടിൽ മധുരമുള്ള നീരായി സംഭരിക്കുകയും ചെയ്യുന്നു എന്നതാണ് കരിമ്പിന്റെ
      പ്രത്യേകത. ഇന്ത്യയിൽ വ്യാവസായികമായി വളരെയധികം കൃഷിചെയ്യുന്ന ഒരു വിളയാണ് കരിമ്പ്.
      ഇത് കൂടുതലായി കാണപ്പെടുന്നത് ഉഷ്ണമേഖലാ പ്രദേശങ്ങളിലാണ്. ലോകത്തിലെ മൊത്തം പഞ്ചസാരയുടെ
      65 ശതമാനം എങ്കിലും വരുന്നത് കരിമ്പിൽ നിന്നാണ്. കൃഷി രീതി കരിമ്പ് നടുന്നത് വളരെയധികം
      അധ്വാനം ആവശ്യമുള്ള ഒരു സംഗതിയാണ്.നല്ല നീർവാർച്ചയും ജലസേചന സൗകര്യവും ഉണ്ടെങ്കിൽ
      എല്ലാത്തരം മണ്ണിലും ഇത് കൃഷി ചെയ്യാം. പ്രധാനമായും ഒക്ടോബർ മുതൽ ഡിസംബർ വരെയുള്ള സമയത്താണ്
      കൃഷി ഇറക്കുന്നത്. നടുന്നതിലുണ്ടാവുന്ന കാലതാമസം കരിമ്പിന്റെ ഉല്പാദനത്തെയും പഞ്ചസാരയുടെ
      അളവിനെയും സാരമായി ബാധിക്കും. സമതലപ്രദേശങ്ങളിൽ ഫെബ്രുവരിയോടെ നടീൽ കഴിഞ്ഞിരിക്കണം.
      മലമ്പ്രദേശങ്ങളിൽ മഴയെ ആശ്രയിച്ചുള്ള കൃഷിയിൽ വലിയ മഴയ്ക്ക് ശേഷമേ നടാവൂ. മൂപ്പെത്തിയ
      കരിമ്പുകളുടെ തണ്ട് ഏകദേശം 40 സെന്റീമീറ്റർ നീളത്തിൽ മുറിക്കുന്നു. തലയ്ക്കങ്ങൾ എന്നറിയപ്പെടുന്ന
      അവ പ്രത്യേകം തയ്യാറാക്കിയ ചാലുകളിൽ ഏതാണ്ട് 1.5 മീറ്റർ ഇടവിട്ട് നടുന്നു. ഓരോന്നിൽനിന്ന്
      ഏതാണ്ട് 8 മുതൽ 12 വരെ കരിമ്പിൻതണ്ടുകൾ വളർന്നുവരും. 12 മുതൽ 16 വരെ മാസത്തെ വളർച്ചയോടെ അവ
      മൂപ്പെത്തും. കരിമ്പിൻ തണ്ടുകൾക്കും അവയുടെ സമൃദ്ധമായ ഇലപ്പടർപ്പിനും കൂടെ നാല് മീറ്റർ വരെ ഉയരം കണ്ടേക്കാം.
      ഇന്ന് കരിമ്പ് കൃഷിചെയ്യപ്പെടുന്ന മിക്ക രാജ്യങ്ങളിലും വിളവെടുപ്പ് സമയമാകുമ്പോൾ പണിക്കാർ കൈകൊണ്ടു കരിമ്പ്
      വെട്ടിയെടുക്കുകയാണു ചെയ്യുന്നതെങ്കിലും കൂടുതൽ രാജ്യങ്ങൾ കരിമ്പുമുറിക്കൽ യന്ത്രങ്ങൾ ഉപയോഗിച്ചു തുടങ്ങിയിരിക്കുന്നു.
      ഈ കൂറ്റൻ യന്ത്രങ്ങൾ ഉയർന്നു നിൽക്കുന്ന കരിമ്പിൻതണ്ടുകളുടെ മുകളിലത്തെ കുറച്ചു ഭാഗം മുറിച്ചു കളയുന്നു. അതുപോലെ അവ
      തണ്ടുകളിൽനിന്ന് ഇലകൾ നീക്കംചെയ്യുകയും മില്ലിൽവച്ച് നീരെടുക്കാൻ പാകമായ വിധത്തിൽചെറിയ കഷ്ണങ്ങളാക്കി മുറിക്കുകയും
      ചെയ്യുന്നു. കഠിനമായി അധ്വാനിച്ചാൽ ഒരു പണിക്കാരന് ഒരു ദിവസം ശരാശരി 5 ടൺ കരിമ്പ് വെട്ടിയെടുക്കാൻ കഴിത്തേക്കും. എന്നാൽ,
      ഈ യന്ത്രങ്ങൾ ഒരു ദിവസം 300 ടൺ വരെ അനായാസം വെട്ടിയെടുക്കുന്നു. ഒരു തവണ നടുന്ന കരിമ്പിൽനിന്ന് രണ്ടിലധികം പ്രാവശ്യം
      വിളവെടുപ്പ് നടത്താം. പല വർഷങ്ങൾ ഇങ്ങനെ വെട്ടിയെടുത്തു കഴിയുമ്പോൾ കരിമ്പ് ഉത്പാദിപ്പിക്കുന്ന പഞ്ചസാരയുടെ അളവു കുറയും.
      അപ്പോൾ പുതിയ ചെടികൾ നടണം</p>
</div>
</div>
<div><a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">
Share on Facebook
</a>
</div>
{% endblock %}